.item {
    display: inline-flex;
    padding-bottom: 15px;
    margin: 0px 0px 15px 0px;
    border-bottom: groove;
    border-width: 2px;
    width: 1000px;
}

a:hover,
a:visited {
    text-decoration: underline;
}

.number {
    margin-right: 40px;
    vertical-align: center;
    opacity: 80%;
    font-size: 25px;
}